<div class="container">
  <% @movies.each do |movie| %>
    <div class="row mb-5">
      <div class="col-sm-5 embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= movie.video_id %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-sm-6">
        <h4><%= movie.title %></h4>
        <small>Shared by: <%=  movie.user.email %></small><br/>
        <div class="clearfix">
          <%= movie.like_count %> <%= image_tag 'like.png', style: "height:20px;width:20px;" %>
          <%= movie.dislike_count %> <%= image_tag 'dislike.png', style: "height:20px;width:20px;" %>
        </div>
        <p><%= movie.description %></p>
      </div>
    </div>
  <% end %>
</div>